<!DOCTYPE HTML>
<html>
<head>
<script src="https://code.highcharts.com/highcharts.js"></script>
<script src="https://code.jquery.com/jquery-3.1.1.min.js"></script>
<script type=text/javascript>
  $SCRIPT_ROOT = {{ request.script_root|tojson|safe }};
</script>
<script type="text/javascript">

function getUTCData(data) {
    var obj = JSON.parse(data);
    var serie = [];
    var date;
    for (var key in obj) {
      if (obj.hasOwnProperty(key)) {
        date = key.split('-');
        serie.push([Date.UTC(date[0], date[1]-1, date[2]), obj[key]])
      }
    }
    return serie;
}

function getSumData(data) {
    var obj = JSON.parse(data);
    var sum = 0;
    for (var key in obj) {
      if (obj.hasOwnProperty(key)) {
        sum += obj[key];
      }
    }
    return sum;
}

$.getJSON($SCRIPT_ROOT + '/get_data_series', function (data) {

    //Create the line chart
    Highcharts.chart('container_line', {
        title: {
            text: 'Test'
        },
        xAxis: {
            type: 'datetime'
        },
        legend: {
            layout: 'vertical',
            align: 'right',
            verticalAlign: 'middle'
        },
        series: [{
                  name: 'CAT 1',
                  data: getUTCData(data.cat1)
                },
                {
                  name: 'CAT 2',
                  data: getUTCData(data.cat2)
                },
                {
                  name: 'CAT 3',
                  data: getUTCData(data.cat3)
                },
                {
                  name: 'CAT 4',
                  data: getUTCData(data.cat4)
                }]
    });

    //Create the pie chart
    Highcharts.chart('container_pie', {
        chart: {
            plotBackgroundColor: null,
            plotBorderWidth: null,
            plotShadow: false,
            type: 'pie'
        },
        title: {
            text: 'Test'
        },
        tooltip: {
            pointFormat: '{series.name}: <b>{point.percentage:.1f}%</b>'
        },
        plotOptions: {
            pie: {
                allowPointSelect: true,
                cursor: 'pointer',
                dataLabels: {
                    enabled: true,
                    format: '<b>{point.name}</b>: {point.percentage:.1f} %',
                    style: {
                        color: (Highcharts.theme && Highcharts.theme.contrastTextColor) || 'black'
                    }
                }
            }
        },
        series: [{
            colorByPoint: true,
            data: [{
                name: 'CAT 1',
                y: getSumData(data.cat1),
                sliced: true,
                selected: true
            }, {
                name: 'CAT 2',
                y: getSumData(data.cat2)
            }, {
                name: 'CAT 3',
                y: getSumData(data.cat3)
            }, {
                name: 'CAT 4',
                y: getSumData(data.cat4)
            }]
        }]
    });
});

</script>
</head>
<body>
<div id="container_line"></div>
<div id="container_pie"></div>
</body>
</html>
